.passed{
    margin-left: 35%;
}
.inputss{
    padding: 6px;
    margin: 7px 0;
    outline: none;
    border: none;
    width:50%;
}
.butonss{
    margin-top: 5px;
    width: 200px;
    margin-left: 4%;
    margin-bottom: 15px;
}