input:focus {
  outline: none;
}
.pass {
  display: flex;
  margin: 40px;
  color : black
}
.form-sub-heading {
  margin: 2%;
  font-size: 25px;
}
.input {
  position: absolute;
  left: 30%;
}
.input label {
  margin: 0 25px 0 5px;
}

.spans {
  color: red;
}

.checked {
  margin-left: 230px;
}

.forms {
  margin-left: 40px;
}

.buton {
  margin-left: 20%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Radio {
  margin-left: 250px;
}

.sitemap {
  width: 50%;
}

@media screen and (max-width: 700px) {
  .pass {
    display: block;
  }

  .sitemap {
    width: auto;
  }

  .spans {
    margin-right: 0;
  }

  .checked {
    margin-left: 0px;
  }

  .buton {
    margin-left: 35%;
  }

  .Radio {
    margin-left: 50px;
  }

  .input {
    position: inherit;
  }
}

/* Setting Css */
.main {
  font-weight: normal;
}

.all {
  margin: 3%;
  border-radius: 7px;
}

@media only screen and (max-width: 600px) {
  .main {
    position: inherit;
    display: flex;
    margin-left: 0px;
  }
}

/* Admin Setting */

.input5 {
  position: absolute;
  left: 35%;
  border: 1px solid lightgray;
  width: 500px;
}

.talk {
  position: absolute;
  left: 35%;
  margin-bottom: 10px;
}

.butoon {
  margin-bottom: 20px;
  outline: none;
  background-color: blue;
  color: white;
  border: 1px solid white;
  padding: 6px;
  margin-left: 90%;
}

@media only screen and (max-width: 800px) {
  .Settings {
    display: flex;
    flex-direction: column;
  }

  .input5 {
    position: inherit;
    width: auto;
  }

  .butoon {
    margin-top: 40px;
    margin-left: 150px;
  }
}

@media screen and (max-width: 1120px) {
  .talk {
    display: none;
    margin-left: 0px;
    /* width:auto; */
  }
}

@media screen and (min-width: 900px) {
  .jodi-editor {
    position: absolute;
    left: 32.5%;
    top: -2%;
    width: 60%;
  }
  .jodi-editor-container {
    position: relative;
    height: 200px;
  }
  .input-container {
    display: inline-flex;
    position: relative;
    left: 16.2%;
  }
  .input-container textarea {
    width: 500px;
    margin-bottom: 7px;
  }
}

code {
  font-size: 10px;
  color: black;
}
