.heading {
  background-color: hsl(210, 88%, 55%);
  color: white;
  padding: 10px;
}
.actions {
  display: flex;
  justify-content: center;
}
.actions button {
  margin: 10px;
  background-color: hsl(210, 88%, 55%);
  color: white;
  border: none;
}
.modal {
  padding: 10px;
}
